
/bin/ff*
/bin/mkv*
/_builds/*
/node_modules/
/videos/*.json
patch.js
session.yml
token.yml
*.user.yml
*.ttf
*.otf
*.txt
*.exe
*.dll
*.ts
*.mkv
*.mp4
*.resume
*.srt
*.ass
*.bat
!cmd-here.bat
*.7z
*.zip
